@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.form__steper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.26px;
  line-height: 25px;
  .oval {
    height: 4px;
    width: 4px;
    background-color: $gray-400;
    border-radius: 2px;
  }
  .oval--active {
    height: 4px;
    width: 4px;
    background-color: $gray-200;
    border-radius: 2px;
  }
}
