// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #333333;

$gray-100: #EDEDED;
$gray-200: #333333;
$gray-300: #777777;
$gray-400: #AAAAAA;

$blue:     #286EFA;
$red:      #F53C3C;

$warningColor: #F53C3C;
